html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a, a:visited {
  text-decoration: none; /* Remove underline */
  color: aliceblue;
}

body {
  background-color: black;
  color: aliceblue;
}

.logo {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: gill sans, sans-serif;
  padding: 1vh 2vh;
  background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

.pages {
  display: flex;
  align-items: center;
}

.navihead {
  margin: 1vh;
  padding: 1vh;
}

.first, .second, .resume {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.first {
  color: white;
  font-family: "Playfair Display", Vidaloka, serif;
  font-size: 6.5rem;
  line-height: 0.85;
  perspective: 500px;
  margin: 2rem 0;
}

.word {
  display: block;
  animation: show 0.01s forwards, pop-word 1.5s forwards;
  animation-timing-function: cubic-bezier(0.14, 1.23, 0.33, 1.16);
  opacity: 0;
  transform: rotateX(120deg);
  transform-origin: 50% 100%;
}

.word:nth-of-type(2) {
  padding: 0 2rem;
  animation-delay: 1.5s;
  color: gold;
}

.superscript {
  position: relative;
  animation-delay: 3.6s;
  animation-duration: 0.25s;
  animation-name: shimmer;
  vertical-align: text-top;
}

.superscript::before {
  --bar-width: 25%;
  position: absolute;
  top: 37%;
  left: 47%;
  width: 14%;
  height: 48%;
  animation: bar-scale 0.25s linear 3s 1 forwards;
  background: linear-gradient(to right, white var(--bar-width), transparent var(--bar-width) calc(100% - var(--bar-width)), white calc(100% - var(--bar-width)));
  content: "";
  transform: scaleY(var(--bar-scale-y));
}

.superscript::after {
  --size: 10rem;
  position: absolute;
  top: -5%;
  left: -85%;
  width: var(--size);
  height: var(--size);
  animation: sparkle 0.4s linear 3.5s 1 forwards;
  background: radial-gradient(circle at center, rgb(252 249 241 / 94%) 0% 7%, transparent 7% 100%), conic-gradient(transparent 0deg 18deg, var(--sparkle-color) 18deg, transparent 20deg 40deg, var(--sparkle-color) 40deg, transparent 43deg 87deg, var(--sparkle-color) 87deg, transparent 95deg 175deg, var(--sparkle-color) 175deg, transparent 178deg 220deg, var(--sparkle-color) 220deg, transparent 222deg 270deg, var(--sparkle-color) 270deg, transparent 275deg 300deg, var(--sparkle-color) 300deg, transparent 303deg 360deg);
  border-radius: 50%;
  clip-path: polygon(50% 0, 59.13% 26.64%, 85.13% -2.35%, 100% 50%, 50% 100%, 0 50%, 31.39% 34.86%);
  content: "";
  filter: blur(1px);
  transform: scale(0);
}

@media screen and (max-width: 600px) {
  .first {
      font-size: 4rem;
  }

  .superscript::after {
      --size: 6rem;
  }

  .navi {
      flex-direction: column;
  }

  .pages {
      flex-direction: column;
  }

  .navihead {
      margin: 1vh 0;
  }
}

.container {
  color: #e5e5e5;
  font-size: 1.8rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.animation {
  height: 50px;
  overflow: hidden;
  margin-left: 1rem;
}

.animation > div > div {
  padding: 0.25rem 0.75rem;
  height: 2.81rem;
  margin-bottom: 2.81rem;
  display: inline-block;
}

.animation div:first-child {
  animation: text-animation 8s infinite;
}

.four div {
  background-color: #20a7d8;
}
.five div {
  background-color: #CD921E;
}
.six div {
  background-color: #c10528;
}

@keyframes text-animation {
  0% {margin-top: 0;}
  10% {margin-top: 0;}
  20% {margin-top: -5.62rem;}
  30% {margin-top: -5.62rem;}
  40% {margin-top: -11.24rem;}
  60% {margin-top: -11.24rem;}
  70% {margin-top: -5.62rem;}
  80% {margin-top: -5.62rem;}
  90% {margin-top: 0;}
  100% {margin-top: 0;}
}

.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  color: #0f1923;
  cursor: pointer;
  position: relative;
  padding: 8px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: all .15s ease;
}

.button::before,
.button::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 5px);
  border: 1px solid #7D8082;
  transition: all .15s ease;
}

.button::before {
  top: 0;
  border-bottom-width: 0;
}

.button::after {
  bottom: 0;
  border-top-width: 0;
}

.button:active,
.button:focus {
  outline: none;
}

.button:active::before,
.button:active::after {
  right: 3px;
  left: 3px;
}

.button:active::before {
  top: 3px;
}

.button:active::after {
  bottom: 3px;
}

.button_lg {
  position: relative;
  display: block;
  padding: 10px 20px;
  color: #fff;
  background-color: #0f1923;
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.button_lg::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: #0f1923;
}

.button_lg::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background-color: #0f1923;
  transition: all .2s ease;
}

.button_sl {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8px;
  width: 0;
  background-color: #ff4655;
  transform: skew(-15deg);
  transition: all .2s ease;
}

.button_text {
  position: relative;
}

.button:hover {
  color: #0f1923;
}

.button:hover .button_sl {
  width: calc(100% + 15px);
}

.button:hover .button_lg::after {
  background-color: #fff;
}

.collapse {
  display: none;
}

@keyframes gradient {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

@keyframes show {
  to {opacity: 1;}
}

@keyframes pop-word {
  40%, 80% {transform: rotateX(-30deg);}
  66% {transform: rotateX(30deg);}
  100% {transform: rotateX(0deg);}
}

@keyframes shimmer {
  from {transform: rotate(0deg);}
  to {transform: rotate(15deg);}
}

@keyframes bar-scale {
  to {transform: scaleY(2);}
}

@keyframes sparkle {
  25%, 75% {opacity: 1;}
  50% {transform: scale(1);}
  100% {opacity: 0; transform: scale(0);}
}

.facebook:hover {
  color: #3b5998;
}
.facebook:hover span { 
  background: #3b5998;
}
.twitter:hover {
  color: #1da1f2;
}
.twitter:hover span { 
  background: #1da1f2;
}
.instagram:hover {
  color: #c32aa3;
}
.instagram:hover span { 
  background: #c32aa3;
}
.youtube:hover {
  color: #dd4b39;
}
.youtube:hover span { 
  background: #dd4b39;
}
ul li a .twitter {
  color: #1da1f2;
}
ul li a:hover:nth-child(3) {
  color: #c32aa3;
}
ul li a:hover:nth-child(4) {
  color: #dd4b39;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}


@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
:root {
  --size: 7vmin;
}.vue {
  position: relative;
  width: var(--size);
  aspect-ratio: 15/13;
  border-style: solid;
  border-width: 0.865em 0.5em 0 0.5em;
  border-color: #8e44ad transparent transparent transparent; /* Main purple */
  font-size: var(--size);
  display: grid;
  place-items: center;
  &:before,
  &:after {
    content: "";
    position: absolute;
    border-style: solid;
    top: -0.865em;
  }
  &:before {
    border-width: 0.52em 0.3em 0 0.3em;
    border-color: #5e3370 transparent transparent transparent; /* Darker purple */
  }
  &:after {
    border-width: 0.2em 0.115em 0 0.115em;
    border-color: #d3b8e4 transparent transparent transparent; /* Lighter purple */
  }
}

#navi1:hover{
  background-color: rgba(94, 51, 112, 0.5); /* 0.5 is the alpha value, you can adjust it to increase or decrease transparency */
  padding: 1px;
}

.copyright{
  text-align: right;
  margin: 1rem;
  font-size: .9rem;
}
